<!-- Masthead-->
<header class="masthead">
    <div class="container text-center p-5 ">
        <div class="row">
            <div class="col-6 mt-5">
        <div class="row mt-5"><img  height="400px" src="https://deorwine.b-cdn.net/images/solutions/homeservice/home-service-vector.webp" alt=""></div>
        </div>
        <div class="col-6 ">
        <div class="masthead-subheading  ">Welcome to Handyman!</div>
        <div class="masthead-heading mb-3 text-secondary">"Life is for service."</div>
        </div>
        </div>
        
    </div>
</header><br><br><br>
<hr>

 <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center mt-5">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted"> You just say what you want and it will be done. </h3>

                </div>
                <div class="row text-center mt-5">
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-light fa-bolt-lightning fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Electrician</h4>
                        <p class="text-muted">We connects you to professional electrician services. From replacing a fuse to changing the wiring. Connect with handyman for expert electrical services in Kochi.</p>
                        <a class="btn btn-outline-primary" routerLink="electrician">view more</a>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-solid fa-house-circle-check fa-stack-1x fa-inverse"></i>
                            <i class="fa-solid fa-house-circle-check"></i>
                        </span>
                        <h4 class="my-3">Housekeeping</h4>
                        <p class="text-muted">Efficient, Friendly, Residential & Commercial Cleaners in Ernakulam, your satisfaction is guaranteed!</p>
                        <a class="btn btn-outline-primary mt-5" routerLink="housekeeping">view more</a>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-regular fa-palette fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Painting</h4>
                        <p class="text-muted"> Trained Professionals. Color Selection Tools. Supervised painting. Dust Free Painting. Expert supervision. Use of Mechanized Tools.</p>
                        <a class="btn btn-outline-primary" routerLink="painting">view more</a>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-regular fa-wrench fa-stack-1x fa-inverse"></i>
                            
                        </span>
                        <h4 class="my-3">Plumbing</h4>
                        <p class="text-muted"> Dripping faucets, broken fittings, or low water pressure in your house, will no longer delay your schedules. Contact handyman for instant assistance.</p>
                        <a class="btn btn-outline-primary"  routerLink="plumbing">view more</a>
                    </div>
                </div>
            </div>
        </section>
        <br><br><br>

        <hr>
        <!--gallary-->
        <div class="container mt-5">
            <button class="text-align-center btn btn-primary" routerLink="join">join us</button>
            <div class="row mt-5 p-3">
               
                <div class="col-4">
                    <img height="400px" class="rounded" src="https://images.unsplash.com/photo-1584792286782-a5dc95dc2250?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGhvbWUlMjBzZXJ2aWNlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                <div class="col-4 container">
                    <img  height="400px" width="300px" class="rounded" src="https://media.istockphoto.com/id/1361116682/photo/plumber-fixing-a-leaking-bathroom-faucet.jpg?b=1&s=170667a&w=0&k=20&c=Psy8layNz09-azVRiaccBn4kg6TfKOhaDNl3HGsqmzI=" alt="">
                </div>
                <div class="col-4 container">
                    <img  height="400px" width="300px" class="rounded" src="https://media.istockphoto.com/id/1291079851/photo/home-repairman-working-on-a-furnace.jpg?b=1&s=170667a&w=0&k=20&c=RZYpU3kDM7cclhX-zmI7DPOMk94eJjz-Nxx3EmPFNHM=" alt="">
                </div>
            </div>
        </div>