<p>join works!</p>
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="https://i.pinimg.com/originals/49/3f/a0/493fa0f13970ab3ef29375669f670451.jpg"  width="700px" alt="">
        </div>
        <div class="col-4"></div>
        <div class="col-4 mt-5">
        <form class="form">
            <div class="mb-3">
              <label for="exampleInputEmail1"[id]="name" class="form-label">Name</label>
              <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1"[id]="category" class="form-label">Category</label>
                <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1"[id]="location" class="form-label">Location</label>
                <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1"[id]="experience" class="form-label">Experience</label>
                <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1"[id]="payment" class="form-label">Payment</label>
                <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
            
            <button type="submit" (click)="join()" class="btn btn-primary">Submit</button><br>
          </form>
          </div>
    </div>
</div>
